*.mine
app/phpstormcache
app/config/parameters.yml
vm/group_vars/all
vm/group_vars/development
app/*\.cache
app/bowercache
app/SymfonyRequirements.php
app/cache
app/logs
app/sessions/*
web/assetic/*
web/bundles/*
web/css/*
web/*.css
web/js/*
web/upload/*
web/img
web/fonts
web/fa-fonts
web/uploads/*
web/media/*
vendor/*
bin/*
build/api
build/behat
build/code-browser
build/coverage
build/logs
build/pdepend
build/phpdox
build/phpmd/*
composer.lock
composer.phar
node_modules
*.sublime-*
.tags
cache.properties
/web/images/
/.phptidy-cache
/.tags_sorted_by_file
.DS_Store
/sftp-config.json
/vendor
.idea/*
/app/dev/
/.rsync_cache/
/web/upload/
behat.phar
parameters.toprod.yml
behat.yml
.htaccess

