{% extends 'GhostBlogBundle::layout.html.twig' %}

{% block container %}
    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h1>Hello</h1>
            <p>{{ content }}</p>
        </div>
    </div>
{% endblock container %}
