{% extends 'GhostBlogBundle::layout.html.twig' %}

{% block container %}
    <p class="h4">Instagram flow</p>
    <div class="row">
        {% for media in medias %}
            <div class="col-xs-12 col-sm-4 col-md-3" style="margin-top: 5px;">
                <img class="img-rounded m-x-auto d-block" style="width: 100%; display: block;" src="{{ media.standardResolution }}">
                <p class="h6">
                    &nbsp;
                    <!--<i class="fa fa-heart"></i>
                    {{ media.likes }}-->
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock container %}
